.main {
  padding: 25px;
  min-height: 100vh;
  max-width: 1600px;
}

.Titles{
  margin-left: 25px;
  font-size: var(--font-size-H);
  font-family: var(--font-family-2);
  opacity: 0.8;
}

.TitlesInverted{
  margin-left: 25px;
  font-size: var(--font-size-H);
  opacity: 0.8;
  color: whitesmoke;

}
.separation {
  margin: 50px 50px;
  
  border-top: 1px solid var(--Eerie-Black);
  opacity: 0.3;

}

.Hero{
  width: 100% ;
 
  background-image: url("../public/7.jpg");
  background-size: cover ;
  border-radius: var(--radius);
  
  
}
.Hero img{
  width: 80%;
  margin: 10%;
  opacity: 0.5;
}

.smallBanners{
  font-size: large;
  color: var(--Eerie-Black);
  font-family: var(--font-family-2);
  text-align: center;
  margin: var(--separation-2);
  margin-bottom: 0;


  
}

.banners{
  font-size: var(--font-size-SH);
  color: var(--Eerie-Black);
  font-family: var(--font-family-2);
  margin: 0 var(--separation) 0 var(--separation) ;
  padding: var(--separation);
  text-align: center;
}
.banners h4{
  font-size: calc((--font-sizes-P) / 2);

}



.containerBentos{
    
    padding: 0px var(--separation-2) ;
    margin-bottom: var(--Separation-Section);

}

.bento{
  display: grid;
  grid-template-columns:   1fr 2fr;
  width: 100%;  
  grid-gap: var(--separation);
  margin-bottom: var(--separation);
}

.bentoInverted{
  display: grid;
  align-items: stretch;
  grid-template-columns:  2fr 1fr ;
  width: 100%;
  grid-gap: var(--separation);
  margin-bottom: var(--separation);
}


.bentoItem{
  padding: 5%;
  display: grid;
  align-items: end;
  height: 450px;
  border-radius: var(--radius);
  z-index: 0;
  font-family: var(--font-family);

  color: white;
}

.bentoItem p{
   
  font-size: var(--font-size);
}

.bentoItem h3{

  font-size: var(--font-size-SH);
}

.bentoItem:hover{
  scale: 1.05;

}

.section2{
  margin: 0;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}


.aboutContainer{
  display: grid;
  grid-template-columns: 2fr 3fr ;
 
  font-family: var(--font-family-2);
  font-size: var(--font-size-P);
}

.aboutContainer img{
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}

.aboutContainer h2{
  font-size: var(--font-size-H);
  font-family: var(--font-family-2);
}

.info {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 60px 0;
  border-radius: var(--radius);
 
 
}

.info h2{
  margin-bottom: calc( var(--separation) *5);
  margin-left: 25px;
  font-size: var(--font-size-H);
  
}

.info h3{
  font-size: var(--font-size-P);
}

.info p{
  font-size: var(--font-size-B);
}


.infoItem{
  display: grid;
  align-items: stretch;
  font-size: var(--font-size-P);
}



.aboutGrid{
  display: grid;
  border-radius: var(--radius);
  grid-gap: var(--separation);
  grid-template-rows: 1fr 1fr;


}

.aboutGrid img{

  width: 100%;
  height:100%;
  border-radius: var(--radius);
}



 
.containerServcio{
  display: block;
  margin: var(--separation-2);


}

.uno{
  border-radius: 20px;
  height: 375px;
  color: white;
  margin-bottom: var(--separation) ;
  background-color: rgba(35,35,35,0.3);
  z-index: 0;
  padding: var(--separation-2);
  display:grid;
  justify-content: stretch;
  align-content: space-between ;
  font-family: var(--font-family);
  font-size: var(--font-size);

 
 
}
.uno p{

  font-size: calc(var(--font-size) *2);
  width: 50%;
}





.dos{
  display: grid;
  grid-template-columns:  1.3fr 2fr;
  border-radius: 20px;
  gap: var(--separation);
 
    
}

.donInverted{
  display: grid;
  grid-template-columns: 2fr  1.3fr;
  border-radius: 20px;
  gap: var(--separation);
}

.dosnogrid{
display: block;
border-radius: 20px;


}


.dosItem{
  color: var(--Honeydew);
  height: 375px;
  border-radius: 20px;
  padding: var(--separation-2);
  background-color: rgba(35,35,35,0.3);
  z-index: 0;
  display:grid;
  justify-content: stretch;
  align-content: space-between ;
  font-family: var(--font-family);
  font-size: var(--font-size);
}



.cta{
  background-image: url("../public/4.jpg");
  background-size: cover ;
  align-content: space-around;
  text-align: center;
  height: 150vh;
  background-color: var(--Eerie-Black);
  color: white;
  padding: calc(var(--Separation-Section) *1.5);
  font-family: var(--font-family-2);
  font-size: var(--font-size-SH);
  margin: 0 -25px 0 -25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.cta h1{
  margin: 0;
  padding: 0;
}

.section3{
  background-color: var(--timberwolf);
  margin: 0 -25px 0 -25px;
  padding: var(--separation);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;



}

.brandsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: var(--separation);
  margin: var(--separation-2);
  

}

.brandsItem{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: var(--separation);

  height: 300px;
  border-radius: var(--radius);
  background-color: white;
  color: var(--Eerie-Black);
  font-size: var(--font-size-P);


}

.brandsItem img{
 

  width: 20%;
}

.brandsItem p{
  font-family: var(--font-family-2);

}

.brandsItem h3{
  font-family: var(--font-family);
}


/* Mobile 
@media (max-width: 700px) {

}
*/

/* Tablet and Smaller Desktop
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
 */




