


.main {
    padding: 25px;
    min-height: 100vh;
    max-width: 1600px;
  }

  .hero{
    width: 100% ;
    background-image: url("../public/7.jpg");
    background-size: cover ;
    border-radius:var(--radius);
    
  }
  .hero img{
    width: 80%;
    margin: 10%;
    opacity: none;
  }

  .titulos{
    font-family: var(--font-family-2);
    font-size: var(--font-size-SH);
    padding: var(--separation-2);
  }
  
  .separation {
    margin: 50px 50px;
    
    border-top: 1px solid var(--Eerie-Black);
    opacity: 0.3;
  
  }
  

.containerPortafolio{
    display: grid;
    grid-template-columns:  1fr 1.5fr;
    gap: 10px;
    align-content: center;
    margin: 10% 0;
}

.containerPortafolio:first-child{
align-content: center;

}



.portafolioItemInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly  ;
  margin: 0;
  padding: 5%;
 
}
.Textheilight{

  text-decoration: solid;
  font-weight: bold;
  font-size: var(--font-size-P);
  font-family: var(--font-family);


  

}

.portafolioItemInfo li {
  list-style: none;

}

.portafolioItemInfo h2 {
  font-family: var(--font-family);
  border-bottom: 1px solid var(--Eerie-Black)
}


.portafolioItemCollage{

display: grid;
grid-template-columns: 2fr 1fr;
font-size: var(--font-size-P);
font-family: var(--font-family-2);

}

.portafolioItemCollage img{
  width: 100%;
border-radius: 20px;
}



